/*============================css animations=======================*/
.header li:hover {
  background-color: Forestgreen;
}
.deleteBtn input:hover {
  background-color: red;
}
.addBtn:hover {
  background-color: rgb(45, 185, 45);
}
.confirmBtn:hover {
  background-color: green;
}
.changeUser:hover {
  background-color: darkred;
}

/*=============================small screen version===================*/
@media screen and (max-width: 768px) {
  .pastColumnsTable {
    overflow-y: scroll;
    background-color: rgb(255, 255, 255, 0.6);
    box-shadow: 0px 0px 0px 0px black;
    width: 100%;
    height: 500px;
    margin: 0px 0px;
    padding-top: 120px;
  }
  .addShift{
    padding: 0px;
    width: 100%;
    margin: 0px 0px;
    background-color: rgb(255, 255, 255, 0.6);
    box-shadow: 0px 0px 0px 0px black;
  }
  .statisticsLine{
    align-items: center;
    background-color: rgb(255, 255, 255, 0.6);
    padding-right: 0px;
  }
  .statBox{
    flex-direction: column;
    width: 100%;
    margin: 0px 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
  }
  .fotter {
    margin: 0% 0% !important;
    width: 100%;
    border-top: 1px solid black;
    padding: 10px 0px;
    background-color: rgb(255, 255, 255, 0.6);
  }
}
